body {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  .toggle-mode-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
  }